h {
    color: black;
    font-family: cursive;
    font-size: 25;
        
}

p {
    color: black;
    font-family: cursive;
    font-size: 22;
        
}
a {
    color: black;
    font-family: cursive;
    font-size: 20;
        
}
}

